@import url("https://fonts.googleapis.com/css?family=Orbitron");
html {
  font-size: 10px;
}
body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-family: "Orbitron", sans-serif;
  color: #66ff99;
  font-size: 5.5rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* Media Query */
@media (max-width: 480px) {
  #clock {
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
